#center{
    position: absolute;
    left: 50%;
    top: 50%;
   
    margin-top: -200px;
    margin-left: -150px;

	text-align: center;
}

.name {
	font-family: cursive;
	font-style: italic;
	font-size: 60px;
	color: darkred;
}

.info{
	font-family: Helvetica, sans-serif;
	font-size: 25px;
	color: grey;
}
